{% extends 'front.html' %}
{% load static %}

{% block frontbody %}


<?php include 'header.php'; ?>

<div class="container-fluid background-color-gradient">
    <div class="row">
    <div class="col-sm-12 p-5 text-center">
            <h1 class="banner-sec pb-0 fw-bold">About <span class="color">Us</span></h1>
            <p class="banner-sec pt-2">Empowering millions of bike service professionals and making two-wheeler
                maintenance simple, cost effective & stress-free.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 p-5">
            <h2 class="fw-bold">About <span class="color">Dr.Auto</span> </h2>
            <h5 class="fw-bold pt-2 pb-2">Dr.Auto is the perfect two-wheeler servicing & repairing
                app in India that offers end customers two-wheeler service or repair at their
                doorstep at competitive prices.</h5>
            <p>Dr.Auto is a Gurgaon-based automobile technology company that facilitates
                doorstep two-wheeler service and repair through a combination of our asset-light
                bike service app and an easy-to-reach customer helpline number +91 8001-96-8001.
                We offer a 21st-century mobile app experience for real-time two-wheeler service,
                repair & roadside assistance and are among the leading platforms for doorstep bike
                services in India. We enable end-customers to maintain their two-wheelers conveniently
                anywhere anytime at a predictable cost. It is the only bike servicing app providing i
                nstant real-time booking of a bike mechanic at your doorstep within a guaranteed time
                limit of half an hour. Instead of wasting your precious time in a dingy mechanic shop,
                utilize it with your loved ones and book Dr.Auto to tackle your bike problem.</p>

            <p>We are covering all major two-wheeler brands, including electric vehicle brands, across 10 tier-1 cities in India. We plan to expand in every part of the country to cater to the large portion of two-wheeler riders.</p>
            <p> We are entirely bootstrapped and backed by a hardworking , dedicated & fun loving team.</p>
        </div>
    </div>
</div>
<div class="container-fluid background-color-gradient">
    <div class="row m-2">
        <div class="col-lg-6 p-4">
            <p class="fw-bold pt-1 pb-2 p-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus rerum sapiente dolorum impedit suscipit dolorem accusamus cumque ipsa ipsam nam consectetur culpa, incidunt enim? Accusamus, minus rem distinctio, quod minima cumque nobis blanditiis consequatur, reprehenderit vel porro maiores? Dolore omnis aut ad minus ipsa, placeat totam tenetur voluptas et.</p>
        </div>
        <div class="col-lg-6 p-5 pb-2 pt-0 ">
            <h3 class="content-center color fw-bold mb-2 pt-4">MISSION</h3>
            <h5 class="text-center pt-1 pb-2 p-5">Our Mission is to become World’s Largest, Most Trusted Two-Wheeler Service Brand with a Customer-First Approach.</h5>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12"></div>
    </div>
</div>
<div class="container-fluid background-color-gradient">
    <div class="row m-3">
        <div class="col-lg-6 p-5 pt-0">
            <h3 class="content-center color fw-bold mb-2 pt-4">VISION</h3>
            <h5 class="text-center pt-1 pb-2 p-5">Our Vision is to become World’s Largest, Most Trusted Two-Wheeler Service Brand with a Customer-First choice.</h5>
        </div>
        <div class="col-lg-6 p-4">
            <p class="fw-bold pt-1 pb-2 p-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus rerum sapiente dolorum impedit suscipit dolorem accusamus cumque ipsa ipsam nam consectetur culpa, incidunt enim? Accusamus, minus rem distinctio, quod minima cumque nobis blanditiis consequatur, reprehenderit vel porro maiores? Dolore omnis aut ad minus ipsa, placeat totam tenetur voluptas et.</p>
        </div>
    </div>
</div>

<div class="container p-5">
    <div class="row">
        <div class="col-lg-12 pb-4 content-center">
            <h2 class="fw-bold">Our <span class="color">Advantages</span> </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 p-2">
                <h5 class="fw-bold">24 X 7 Availability</h5>
                <p>You can book two-wheeler service 24 x 7 online, by our mobile app,
                    customer helpline number +91 8001-96-8001, website or by clicking
                    on the whatsapp icon on the screen.</p>
            </div>
            <div class="col-lg-4 p-3">
                <h5 class="fw-bold ">Skilled Manpower</h5>
                <p>
                    Our highly skilled manpower is capable to solve all your two-wheeler
                    maintenance problems, our manpower is technically trained at regular intervals.
                </p>
            </div>
            <div class="col-lg-4 p-3">
                <h5 class="fw-bold ">Transparency</h5>
                <p>We ensure full transparency and assurance with a brand trust. Every job
                    is explained in detail and updates regarding the bike service is passed on regular basis.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 p-3">
                <h5 class="fw-bold ">Affordability</h5>
                <p>
                    We give value offerings by making not only our customers happy but also their two-wheeler very happy.
                    We not only think about your vehicle, we care about you.
                </p>
            </div>
            <div class="col-lg-4 p-3">
                <h5 class="fw-bold ">State-of-the-art Equipment</h5>
                <p>
                    All our mechanics use State-of- the-art Equipment and infrastructure to diagnose the problems in your
                    two-wheeler. The right diagnosis is what actually required, right?
                </p>
            </div>
            <div class="col-lg-4 p-3">
                <h5 class="fw-bold">Pick-up & Drop Facility</h5>
                <p>
                    We provide FREE pickup and drop service from your home, office, or any place of your choice, so you
                    can spend that extra time with your loved ones.
                </p>
            </div>
        </div>
    </div>
</div>


<?php include 'footer.php'; ?>

{% endblock %}
