{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10 border">
            <h4 class="text-center fw-bold mt-3">Add Mechanic</h4>
            <hr>
            {{ msg }}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row px-4">
                <!-- <div class="col-md-5 p-3 border"> -->
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Mechanic Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter  Name" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Mechanic Profile</label>
                    <input type="text" class="form-control" name="profile" id="name" placeholder="Enter  Profile" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Mechanic Email</label>
                    <input type="email" class="form-control" name="email" id="name" placeholder="Enter Email" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Mechanic Price</label>
                    <input type="number" class="form-control" name="price" id="name" placeholder="Enter  Price" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Mechanic Experience</label>
                    <input type="text" class="form-control" name="experiance" id="name" placeholder="Enter Experience" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Mechanic Number</label>
                    <input type="number" class="form-control" name="number" id="name" placeholder="Enter Number" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Mechanic Image</label>
                    <input type="file" class="form-control" name="img" id="name" placeholder="Enter Category Name" aria-describedby="emailHelp">
                </div>
                <!-- <div class="col-md-12 mt-2">
                        <label for="">Description</label>
                        <textarea name="editor"></textarea>

                    </div> -->
                    <div class="col-md-7  d-grid gap-2 my-3">
                <button class="btn color d-grid gap-2">Add</button>
                </div>
            </div>
                </form>
        </div>
    </div>
</div>
</div>
<script>
    CKEDITOR.replace('editor');
</script>

{% endblock %}