{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10 border">
            <h4 class="text-center fw-bold mt-3">Add Technician</h4>
            <hr>
            {{ msg }}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row px-4">
                <!-- <div class="col-md-5 p-3 border"> -->
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Technician Name</label>
                    <input type="text" class="form-control" value="{{instance.name}}" name="name" id="name" placeholder="Enter  Name" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Technician Profile</label>
                    <input type="text" class="form-control" value="{{ instance.profile }}" name="profile" id="name" placeholder="Enter  Profile" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Technician Email</label>
                    <input type="email" class="form-control" value="{{ instance.email }}" name="email" id="name" placeholder="Enter Email" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Technician Price</label>
                    <input type="number" class="form-control" value="{{ instance.price }}" name="price" id="name" placeholder="Enter  Price" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Technician Experience</label>
                    <input type="text" class="form-control" value="{{ instance.experiance }}" name="experiance" id="name" placeholder="Enter Experience" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Technician Number</label>
                    <input type="number" class="form-control" pattern=".{10,10}"  value="{{ instance.number }}" name="number" id="name" placeholder="Enter Number" aria-describedby="emailHelp">
                </div>

                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Technician Image</label>
                    <input type="file" class="form-control" value="{{ instance.img }}" name="img" id="name" placeholder="Enter Category Name" aria-describedby="emailHelp">
                </div>

                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Aadhar Card</label>
                    <input type="number" class="form-control" value="{{ instance.aadhar }}" name="aadhar" id="aadhar" placeholder="Enter Aadhar Name" aria-describedby="emailHelp">
                </div>

                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Front Aadhar</label>
                    <input type="file" class="form-control" value="{{ instance.front_aadhar }}" name="front_aadhar" id="name" placeholder="Upload Aadhar" aria-describedby="emailHelp">
                </div>
                 <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Back Aadhar</label>
                    <input type="file" class="form-control" value="{{ instance.back_aadhar }}" name="back_aadhar" id="name" placeholder="Upload Aadhar" aria-describedby="emailHelp">
                </div>
                 <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Pancard</label>
                    <input type="file" class="form-control" value="{{ instance.pancard }}" name="pancard" id="name" placeholder="Upload Aadhar" aria-describedby="emailHelp">
                </div>

                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Resume </label>
                    <input type="file" class="form-control" value="{{ instance.resume }}" name="resume" id="name" placeholder="Upload Resume" aria-describedby="emailHelp">
                </div>

                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Qualifications</label>
                    <input type="text" class="form-control" value="{{ instance.qualifications }}" name="qualifications" id="name" placeholder="Enter qualifications " aria-describedby="emailHelp">
                </div>

                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Employee ID</label>
                    <input type="text" class="form-control" value="{{ instance.skills }}" name="skills" id="name" placeholder="Enter skills " aria-describedby="emailHelp">
                </div>

                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Date Of Birth</label>
                    <input type="date" class="form-control" value="{{ instance.date_of_birth }}" name="date_of_birth" id="name" placeholder="Enter Date Of Birth " aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="name" class="form-label">Blood Group</label>
                    <input type="text" class="form-control" value="{{ instance.blood_group }}" name="blood_group" id="name" placeholder="Enter Blood Group " aria-describedby="emailHelp">
                </div>

                <!-- <div class="col-md-12 mt-2">
                        <label for="">Description</label>
                        <textarea name="editor"></textarea>

                    </div> -->
                    <div class="col-md-7  d-grid gap-2 my-3">
                <button class="btn color d-grid gap-2">Submit</button>
                </div>
            </div>
                </form>
        </div>
    </div>
</div>
</div>
<script>
    CKEDITOR.replace('editor');
</script>

{% endblock %}