{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10 border">
            <h4 class="text-center fw-bold mt-3">Add Service</h4>
            <hr>
            {{ msg }}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row px-4">
                <!-- <div class="col-md-5 p-3 border"> -->

                <div class="col-md-6 mt-2">
                    <label for="exampleInputEmail1" class="form-label">Select User</label>
                    <div class="border rounded">
                        <select class="form-select" name="types" aria-label="Default select example" required>
                            <option selected>user</option>
                            <option value="yearly">user1</option>
                            <option value="onetime">user2</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-6 mt-2">
                    <label for="exampleInputEmail1" class="form-label">Select Plan</label>
                    <div class="border rounded">
                        <select class="form-select" name="types" aria-label="Default select example" required>
                            <option selected>Plan Category</option>
                            <option value="yearly">Annually</option>
                            <option value="onetime">One Time</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 mt-2">
                    <label for="exampleInputEmail1" class="form-label">Select Vehicle</label>
                    <div class="border rounded">
                        <select class="form-select" name="types" aria-label="Default select example" required>
                            <option selected>Vehicles</option>
                            <option value="yearly">splender</option>
                            <option value="onetime">Hero</option>
                        </select>
                    </div>
                </div>


                    <div class="col-md-6  d-grid gap-2 my-3">
                <button class="btn color d-grid gap-2">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    CKEDITOR.replace('editor');
</script>


{% endblock %}