{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10 border">
            <h4 class="text-center fw-bold mt-3">Update/Create Service</h4>
            <hr>
            {{ msg }}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row px-4">
                <!-- <div class="col-md-5 p-3 border"> -->

                <div class="col-md-6 mt-2">
                    <label for="exampleInputEmail1" class="form-label">Select User/Customer</label>
                    <div class="border rounded">
                        <select class="form-select" name="user" aria-label="Default select example" required>
                            {% for v in var %}
                            <option value="{{ v.id }}" selected>{{ v.fname }} {{ v.phone }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="col-md-6 mt-2">
                    <label for="exampleInputEmail1" class="form-label">Select Order</label>
                    <div class="border rounded">
                        <select class="form-select" name="order" aria-label="Default select example" required>
                            {% for p in plan %}
                            <option value="{{ p.id }}">{{ p.plane_name.title }} {{ p.user.fname }}</option>
                            {% endfor %}
\                        </select>
                    </div>
                </div>

                <div class="col-md-6 mt-2">
                    <label for="exampleInputEmail1" class="form-label">Select Booking Details/Vehicle</label>
                    <div class="border rounded">
                        <select class="form-select" name="booking" aria-label="Default select example" required>
                            {% for s in book %}
                            <option value="{{ s.id }}" selected>{{ s.model }} {{ s.user.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>


                    <div class="col-md-6  d-grid gap-2 my-3">
                <button class="btn color d-grid gap-2">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    CKEDITOR.replace('editor');
</script>


{% endblock %}