{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end" style="height:100vh;">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10 bg-light border">

            <div class="row px-5 py-1">
                <div class="col-md-12  d-flex justify-content-between">
                    <div>
                        <h1>Dashboard</h1>
                        <p></p>
                    </div>

                </div>
                <div class="col-md-4">
                    <section class="shadow-sm bg-white mt-1 p-3 rounded-4 d-flex justify-content-between">
                        <div>
                            <h2>{{total_service}}<span class="text-success">+</span></h2>
                            <h6>Total Service</h6>
                                <span class="text-dark">Total Service</span>
                            </p>
                        </div>
                        <div>
                            <i class="bi bi-gear-fill fs-2"></i>
                        </div>
                    </section>
                </div>
                <!--  -->
                <div class="col-md-4">
                    <section class="shadow-sm mt-1 bg-white p-3 rounded-4 d-flex justify-content-between">
                        <div>
                            <h2>{{annul_service}}<span class="text-success">+</span></h2>
                            <h6>Annually Service</h6>
                                <span class="text-dark">Yearly Total Service</span>
                            </p>
                        </div>
                        <div>
                            <i class="bi bi-box-fill fs-2"></i>
                        </div>
                    </section>
                </div>
                <!--  -->
                <!--  -->
                <div class="col-md-4 mt-1">
                    <section class="shadow-sm bg-white p-3 rounded-4 d-flex justify-content-between">
                        <div>
                            <h2>{{onetime_service}}<span class="text-success">+</span></h2>
                            <h6>One Time Service</h6>
                                <span class="text-dark">One Time/ Monthly Total Service</span>
                            </p>
                        </div>
                        <div>
                        <i class="bi bi-1-circle fs-2"></i>
                        </div>
                    </section>
                </div>
                <!--  -->


                <div class="col-md-4">
                    <section class="shadow-sm bg-white mt-1 p-3 rounded-4 d-flex justify-content-between">
                        <div>
                            <h2>{{total_order}}<span class="text-success">+</span></h2>
                            <h6>Total Booking Leads</h6>
                                <span class="text-dark">Total Lead</span>
                            </p>
                        </div>
                        <div>
                            <i class="bi bi-gear-fill fs-2"></i>
                        </div>
                    </section>
                </div>
                <!--  -->
                <div class="col-md-4">
                    <section class="shadow-sm mt-1 bg-white p-3 rounded-4 d-flex justify-content-between">
                        <div>
                            <h2>{{annul_order}}<span class="text-success">+</span></h2>
                            <h6>Booking Leads</h6>
                                <span class="text-dark">Annual Booking Leads </span>
                            </p>
                        </div>
                        <div>
                            <i class="bi bi-box-fill fs-2"></i>
                        </div>
                    </section>
                </div>
                <!--  -->
                <!--  -->
                <div class="col-md-4 mt-1">
                    <section class="shadow-sm bg-white p-3 rounded-4 d-flex justify-content-between">
                        <div>
                            <h2>{{onetime_order}}<span class="text-success">+</span></h2>
                            <h6>Total Booking Leads</h6>
                                <span class="text-dark">onetime/monthly</span>
                            </p>
                        </div>
                        <div>
                        <i class="bi bi-1-circle fs-2"></i>
                        </div>
                    </section>
                </div>
                <!--  -->

                <div class="col-md-4">
                    <section class="shadow-sm bg-white mt-1 p-3 rounded-4 d-flex justify-content-between">
                        <div>
                            <h2>{{data}}<span class="text-success">+</span></h2>
                            <h6>Total User</h6>
                                <span class="text-dark">Total</span>
                            </p>
                        </div>
                        <div>
                            <i class="bi bi-gear-fill fs-2"></i>
                        </div>
                    </section>
                </div>
                <!--  -->
                <div class="col-md-4">
                    <section class="shadow-sm mt-1 bg-white p-3 rounded-4 d-flex justify-content-between">
                        <div>
                            <h2>{{mechanic}}<span class="text-success">+</span></h2>
                            <h6>Total Mechanic</h6>
                                <span class="text-dark">Total Mechanic </span>
                            </p>
                        </div>
                        <div>
                            <i class="bi bi-box-fill fs-2"></i>
                        </div>
                    </section>
                </div>
                <!--  -->
                <!--  -->
                <div class="col-md-4 mt-1">
                    <section class="shadow-sm bg-white p-3 rounded-4 d-flex justify-content-between">
                        <div>
                            <h2>{{customer_review}}<span class="text-success">+</span></h2>
                            <h6>Total Customer Review</h6>
                                <span class="text-dark">Total</span>
                            </p>
                        </div>
                        <div>
                        <i class="bi bi-1-circle fs-2"></i>
                        </div>
                    </section>
                </div>
                <!--  -->

                <div class="col-md-9 my-3">
                    <h5>Graph Chart</h5>
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-3 my-4">
                    <div>
                        <h5 class="text-center"><span class="text-danger">Today</span>  Latest Data</h5>
                        <section class="shadow bg-white p-3 rounded-4 d-flex justify-content-between my-2">
                            <div>
                                <h5>{{today_service}}<span class="text-success">+</span></h5>
                                <h6>Total Service</h6>
                            </div>
                            <div>
                                <i class="bi bi-gear fs-3"></i>
                            </div>
                        </section>
                        <section class="shadow bg-white p-3 rounded-4 d-flex justify-content-between my-2">
                            <div>
                                <h5>{{today_leads}}<span class="text-success">+</span></h5>
                                <h6>Booking Leads </h6>
                            </div>
                            <div>
                                <i class="bi bi-box fs-3"></i>
                            </div>
                        </section>
                        <section class="shadow bg-white p-3 rounded-4 d-flex justify-content-between my-2">
                            <div>
                                <h5>{{today_user}}<span class="text-success">+</span></h5>
                                <h6>User</h6>
                            </div>
                            <div>
                                <i class="bi bi-1-circle fs-3"></i>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var xValues = [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150];
    var yValues = [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "#c21010",
                borderColor: "rgba(0,0,255,0.1)",
                data: yValues
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 6,
                        max: 16
                    }
                }],
            }
        }
    });
</script>

{% endblock %}