{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10  border p-4">
            <div class="d-flex justify-content-between p-3">
                <h4>Add Plan</h4>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-md-8">
                    <a href="{% url 'addplan' %}"><button class="btn btn-success"> <i class="bi bi-plus text-white"></i> Add Plan </button></a>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2"> <i class="bi bi-search"></i> </span>
                    </div>
                </div>
                <h3 class="text-center">Plan</h3>
                {% for i in plans %}
                <div class="col-md-5">
                    <div class="p-3 bg-light shadow-sm rounded">
                        <h1 class="text-center text-success">{{ i.pricing }} /-</h1>
                        <h2 class="text-center">{{ i.services }}</h2>
<!--                        <h5 class="text-center text-secondary">1 Time service</h5>-->
                        <div class="">
                            <p>{{ i.details | safe }}</p>
                        </div>
                        <div class="text-center my-2">
                        <a href="{% url 'editplan' i.id %}"><i class="bi bi-pencil-square fs-4 text-warning"></i></a>
                            <a href="{% url 'deleteplan' i.id  %}"> <i class="bi bi-archive text-danger fs-4"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>
</div>
{% endblock %}