{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10 p-5">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>User Support</h4>
                </div>
            </div>
            {% for i in sup %}
            {% if forloop.counter == 1 %}
            <div class="row justify-content-center">
                <div class="col-lg-12 my-2">
                    <div class="bg-white shadow-sm rounded p-2 border-style">
                    <h6 class="fw-bold text-danger">{{ i.name }}</h6>
                     <h6>{{ i.contact }}</h6>
                        <p>{{ i.txt }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}