{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10   p-4">
            <div class="d-flex justify-content-between p-3">
                <h4>Users</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="col-md-8">
                            <a href="{% url 'addservice' %}"><button class="btn btn-success"> <i class="bi bi-plus text-white"></i> Create/Update Service </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="bg-dark text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Location</th>
                        <th scope="col">Email</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in plane %}
                    <tr>
                        <th scope="row" class="table-secondary">{{ i.id }}</th>
                        <td class="table-info">{{ i.fname }} {{ i.lname }}</td>
                        <td class="table-warning">{{ i.phone}}</td>
                         <td class="table-warning">{{ i.address }}</td>
                        <td class="table-primary">{{ i.location }}</td>
                        <td class="table-success">{{ i.email }}</td>
                        <td class="table-warning">
                           <a href="{% url 'user_history' i.id %}"><i class="bi bi-eye fs-4 text-success"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}