{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10   p-4">
            <div class="d-flex justify-content-between p-3">
                <h4>Users</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2"> <i class="bi bi-search"></i> </span>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="bg-dark text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Location</th>
                        <th scope="col">Email</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in plane %}
                    <tr>
                        <th scope="row" class="table-secondary">{{ i.id }}</th>
                        <td class="table-info">{{ i.user.fname }} {{ i.user.lname }}</td>
                        <td class="table-warning">{{ i.mobile_number}}</td>
                         <td class="table-warning">{{ i.address }}</td>
                        <td class="table-primary">{{ i.location }}</td>
                        <td class="table-success">{{ i.user.email }}</td>
                        <td class="table-warning">
                           <a href="{% url 'user_history' i.id %}"><i class="bi bi-eye fs-4 text-success"></i></a>
                            <i class="bi bi-archive text-danger fs-4"></i>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}