{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10   p-4">
            <div class="p-3">
                <div class="p-2 rounded text-light fs-4 fw-bold text-center" style="background-color:#e5383b;">User</div>
                <h4>{{ msg }}</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <form method="post" action="{% url 'user_profile' %}">
                            {% csrf_token %}
                        <input type="text" class="form-control" name="data" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="input-group-text" id="basic-addon2"> <i class="bi bi-search"></i> </button>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="bg-dark text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number</th>
                        <th scope="col">Address</th>
<!--<<<<<<< HEAD-->
<!--&lt;!&ndash;                        <th scope="col">Bike No.</th>&ndash;&gt;-->
<!--=======-->
<!--                        <th scope="col">Registration</th>-->
<!--&gt;>>>>>> 170b7ffb2c751abc3ec25a85045ec68c60185bd8-->
                        <th scope="col">Email</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in plane %}
                    <tr>
                        <th scope="row" class="table-secondary">{{ i.id }}</th>
                        <td class="table-info">{{ i.fname }}</td>
                        <td class="table-warning">{{ i.phone}}</td>
                         <td class="table-warning">{{ i.address }}</td>
<!--                        <td class="table-primary">{{ i.location }}</td>-->
                        <td class="table-success">{{ i.email }}</td>
                        <td class="table-warning">
                           <a href="{% url 'user_history' i.id %}"><i class="bi bi-eye fs-4 text-success"></i></a> &nbsp; &nbsp; &nbsp;
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
