{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <?php include 'header.php'; ?> -->
<div class="container-fluid">
    <div class="row justify-content-end">
        <!---<?php include 'sidemenu.php' ?>--->
        <div class="col-lg-10 p-5">
            <div class="d-flex justify-content-between">
                <h4>Mechanic Details</h4>
            </div>
            <div class="row justify-content-center">
                <table class="table">
                     <tr class="">
                        <th scope="col">#ID</th>
                        <td class="">{{ instance.id }}</td>
                    </tr>
                    <tr class="">
                        <th scope="col">Name</th>
                        <td class="">{{ instance.fname }}</td>
                    </tr>
                    <tr class="">
                        <th scope="col">Email</th>
                        <td class="">{{ instance.email }}</td>
                    </tr>
                    <tr class="">
                        <th scope="col">Mobile Number</th>
                        <td class="">{{ instance.phone }}</td>
                    </tr>
                    <tr class="">
                        <th scope="col">Email Address</th>
                        <td class="">{{ instance.email }}</td>
                    </tr>
                    <tr class="">
                        <th scope="col">Plan Authentication</th>
                        <td class="">{{ instance.plan_user }}</td>
                    </tr>
                    <tr class="">
                        <th scope="col">Booking Authentication</th>
                        <td class="">{{ instance.booking_user }}</td>
                    </tr>
                    <tr class="">
                        <th scope="col">Service Authentication</th>
                        <td class="">{{ instance.service_user }}</td>
                    </tr>
                    <tr class="">
                        <th scope="col">Technician Authentication</th>
                        <td class="">{{instance.mechanic_user}}</td>
                    </tr>

                    <tr class="">
                        <th scope="col">Customer Review Authentication</th>
                        <td class="">{{instance.customer_review_user}}</td>
                    </tr>

                    <tr class="">
                        <th scope="col">FAQ Authentication</th>
                        <td class="">{{ instance.faq_user }}</td>
                    </tr>

                    <tr class="">
                        <th scope="col">Support Authentication</th>
                        <td class="">{{ instance.support_user }}</td>
                    </tr>
                    <tr class="">
                        <th scope="col">Account/Billing Authentication</th>
                        <td class="">{{ instance.account_user }}</td>
                    </tr>
                     <tr class="">
                        <th scope="col">New Registration</th>
                        <td class="">{{ instance.created_at |date }}</td>
                    </tr>
                    <tr class="">
                        <th scope="col">Last Update</th>
                        <td class="">{{ instance.updated_at |date }}</td>
                    </tr>


                </table>
                <!-- Button trigger modal -->
<!--                <button type="button" class="btn btn-danger" data-bs-target="#exampleModal">-->
<!--                    Share to Mechanic-->
<!--                </button>-->
            </div>
        </div>
    </div>
</div>



{% endblock %}